<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    <% if flash.has?(:message2) %>
      <%= flash[:message2] %>
    <% end %>
    <h1><%= @song.name %></h1>
      <p><a href='/artists/<%= @song.artist.slug %>'> <%= @song.artist.name %></a></p>
      <p><a href='/genres/<%= @song.genres[0].slug %>'> <%= @song.genres[0].name %></a></p>
  </body>
</html>
